@import "@fontsource/inter";

:root {
  --color-fg: var(--chakra-colors-black);
  --color-bg: var(--chakra-colors-gray-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: var(--chakra-colors-white);
    --color-bg: var(--chakra-colors-gray-800);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-fg);
  background: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
